<!DOCYTPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="/public/javascripts/jquery-1.11.2.min.js"></script>

	<title></title>
	<style type="text/css">

	</style>
</head>
<body>
<div style="text-align:center;">
	 <h2 >404. Not Found!</h2>
        <p>抱歉,没有找到你要的页面</p>
        <pre >
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  oh ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
</div>

</body>
</html>