<!DOCYTPE html>
<html lang="en">
<% include head.html %>
<body>
<% include header.html %>
<div class="container" style="margin-top:20px;">
	<% include container-left.html %>
	<div class="content" style="">
		<div id="content-wrap" style="">
			<div id="content" style="">
				<p>作者：钰溪</p>
				<p>曾在百度，阿里实习，学习前端技术，理解前后端数据交互，略知一点后端，曾经做过数据可视化，最近在尝试移动端展示页，现在虽不在互联网浪潮中冲浪，但还有一颗码农的心。</p>
			</div>
		</div>
	</div> <!--end class content  -->
	<div class="right"></div>
</div>


<% include footer.html %>

</body>
<% include commonjs.html %>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9692ef34b380b66ae242390d9b633880";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</html>