<script type="text/javascript" src="/public/javascripts/ISODate_IE8.js"></script>
<!--<script type="text/javascript" src="/public/H-ui.admin/lib/jquery.min.js"></script> -->
<script type="text/javascript" src="/public/H-ui.admin/lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="/public/H-ui.admin/lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="/public/H-ui.admin/js/H-ui.js"></script> 
<script type="text/javascript" src="/public/H-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="/public/H-ui.admin/js/H-ui.admin.doc.js"></script> 
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101289937" charset="utf-8"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=315803535&debug=true" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$("#catalog").on("click",function(){
	if($(".left").css("display") == "block"){
		$(".left").fadeOut(500);
	}else{
		$(".left").fadeIn(500);
	}
});
</script>
<script type="text/javascript">
    QC.Login({
       btnId:"qqLogin",    //插入按钮的节点id
       size: "B_S"
	},cbLoginFun,cbQuitFun);
    function cbLoginFun(oInfo, oOpts){
    	var dom = document.getElementById(oOpts['btnId']),
       _logoutTemplate=[
            //头像
            '<span><img src="{figureurl}" class="{size_key}"/></span>',
            //昵称
            '<span>{nickname}</span>',
            //退出
            '<span><a href="javascript:QC.Login.signOut();">退出</a></span>'    
       ].join("");
       dom && (dom.innerHTML = QC.String.format(_logoutTemplate, {
           nickname : QC.String.escHTML(oInfo.nickname), //做xss过滤
           figureurl : oInfo.figureurl
       }));
       console.log("oOpts:");
       console.log(oOpts);
    	alert("login");
    }
    function cbQuitFun(oOpts){
    	alert("logout");
    }

</script>
<script type="text/javascript">
   WB2.anyWhere(function (W) {
    W.widget.connectButton({
        id: "wb_connect_btn",
        type: '6,4',
        callback: {
            login: function (o) { //登录后的回调函数
                alert("login: " + o.screen_name)
            },
            logout: function () { //退出后的回调函数
                alert('logout');
            }
        }
    });
});
</script>
<script type="text/javascript">
function patchForShare(wbId,wbShareImg,qqId,qqShareImg){
	var tempdom = '<img class="shareIcon" src="/public/images/wb.jpg">';
	$("#" + wbId).find(".WB_loginButton.WB_widgets").empty().append(tempdom);
}
patchForShare("wb_connect_btn");
</script>