<script type="text/javascript" src="/public/javascripts/ISODate_IE8.js"></script>
<!--<script type="text/javascript" src="/public/H-ui.admin/lib/jquery.min.js"></script> -->
<script type="text/javascript" src="/public/H-ui.admin/lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="/public/H-ui.admin/lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="/public/H-ui.admin/js/H-ui.js"></script> 
<script type="text/javascript" src="/public/H-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="/public/H-ui.admin/js/H-ui.admin.doc.js"></script> 
<script type="text/javascript">
$("#catalog").on("click",function(){
	if($(".left").css("display") == "block"){
		$(".left").fadeOut(500);
	}else{
		$(".left").fadeIn(500);
	}
});
</script>