<footer style="text-align:center;background-color:#26272B;color:#fff;">
	<div style="width:380px;height:130px;margin:10px auto;text-align:left;display:inline-block;vertical-align: top;">
		<p>推荐链接:</p>
		<ul style="display:inline-block;width:180px;">
                <li><a href="http://taobaofed.org" style="" target="_blank">淘宝UED</a></li>
                <li><a href="http://mux.alimama.com" style="" target="_blank">一淘FED</a></li>
                <li><a href="http://uxc.360.cn" style="" target="_blank">360UXC</a></li>
        </ul>
        <ul style="display:inline-block;width:180px;">
                 <li><a href="http://fex.baidu.com" style="" target="_blank">百度FEX</a></li>
                <li><a href="http://isux.tencent.com/" style="" target="_blank">腾讯ISUX</a></li>
                <li><a href="http://qmh2014.github.io" style="" target="_blank">Vivian</a></li>
        </ul>
	</div>
	<div style="width:380px;height:130px;margin:10px auto;text-align:left;display:inline-block;vertical-align: top;">
		<span>关注我:</span><!-- &nbsp&nbsp&nbsp&nbsp<a><img src="/public/images/weibo-sina.png" style="width:30px;height:30px;"></a> -->
		<p>QQ:2833443136</p>
	</div>
	<p>@Power By YUXI</p>
	<p>京ICP备15054802号-1</p>
</footer>