<header>
 <div style="background-image:url(/public/images/header01.jpg);width: 85%;margin:0 auto;overflow:hidden;">
<img src="/public/images/photo.jpg" style="height:100px;width:100px;">
<!-- <span style="color:#707070;font-size:50px;margin-left:150px;">学习记录</span>  -->
 </div>
<div class="blog-nav" style="background-color:grey;">
        <nav class="blog-nav">
          	<a class="blog-nav-item <% if(nav_head=="index"){ %> active <% } %>" href="/">首页</a>
<!--           	<a class="blog-nav-item <% if(nav_head=="chartshow"){ %> active <% } %>" href="/chartShow">图表化数据</a> -->
<!--          	<a class="blog-nav-item <% if(nav_head=="example"){ %> active <% } %>" href="/moblieExample">移动端案例</a>  -->
          	<a class="blog-nav-item <% if(nav_head=="nav_des"){ %> active <% } %>" href="/webDescription">小站说明</a>
          	<a class="blog-nav-item <% if(nav_head=="nav_author"){ %> active <% } %>" href="/aboutAuthor">关于作者</a>
 <!--          <a class="blog-nav-item" href="/webDescription">小站说明</a>
          <a class="blog-nav-item" href="/aboutAuthor">关于作者</a>
         <a class="blog-nav-item" href="#">标签</a>
-->          
        </nav>
      </div>
 </div> 
</header>