<header style="margin:0 auto;position:relative;width:100%;background-color:#26272B;height:300px;">
<!--  <div style="width: 100%;background-color:#26272B;height:300px;">
<img src="/public/images/photo.jpg" style="height:100px;width:100px;">
 </div> -->
 <div style="height:24px;"></div> 
 <div style="position:relative;left:20%;height:230px;width:60%;">
 	<div class="share" style="position:absolute;top:50px;right:5%;">
 		<a><span style="font-size:20px;">登录</span></a>
 		<a class="share-icon" id="wb_connect_btn"><span class="iconfont" alt="新浪微博">&#xf01af;新浪微博</span></a>
 		<a class="share-icon" id="qqLogin"><span class="iconfont">&#xf01c7;QQ</span></a>
 	</div>
 <img src="/public/images/xiaobai.png" style="" class="index-photo">
 <img src="/public/images/fe.png" style="" class="index-logo">
 <span style="" class="index-title">
 	<p style="color:#00FFF5;font-size:35px;text-align: center;">钰溪随笔</p>
 	<p style="color:#00FFF5;font-size:16px;text-align: center;">记录学习点滴</p>
 </span>
 </div>
<div class="blog-nav" style="background-color:grey;">
        <nav class="blog-nav" style="height:46px;">
          	<a class="blog-nav-item <% if(nav_head=="index"){ %> active <% } %>" href="/">首页</a>
<!--           	<a class="blog-nav-item <% if(nav_head=="chartshow"){ %> active <% } %>" href="/chartShow">图表化数据</a> -->
<!--          	<a class="blog-nav-item <% if(nav_head=="example"){ %> active <% } %>" href="/moblieExample">移动端案例</a>  -->
          	<a class="blog-nav-item <% if(nav_head=="nav_des"){ %> active <% } %>" href="/webDescription">小站说明</a>
          	<a class="blog-nav-item <% if(nav_head=="nav_author"){ %> active <% } %>" href="/aboutAuthor">关于作者</a>
 <!--          <a class="blog-nav-item" href="/webDescription">小站说明</a>
          <a class="blog-nav-item" href="/aboutAuthor">关于作者</a>
         <a class="blog-nav-item" href="#">标签</a>
-->          
        </nav>
      </div>
 </div> 
<!--  <div class="pos-nav" style="">
 	<span style="display:inline-block;height:100%;width:100%;background-color:#fff;">首页</span>
 </div> -->
</header>